@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

* {
  margin: 0;
  padding: 0;
  overflow-x: 0;
  font-family: "Pretendard", sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  margin-top: 48px;
  margin-bottom: 90px;
  font-family: "Pretendard", sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

:root {
  /* color */
  --black: #000000;
  --main: #00462a;
  --sub1: #33936d;
  --sub2: #caf3e5;
  --sub3: #eef8f4;
  --grey1: #7f7f7f;
  --grey2: #a8a8a8;
  --grey3: #b8b8b8;
  --grey4: #e0e0e0;
  --grey5: #f2f1f1;
  --white: #ffffff;

  /* font */
  --korean: "Pretendard", sans-serif;
}
